@import url("https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic&display=swap&subset=cyrillic-ext");
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "roboto";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "roboto";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-family: "roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  height: 100%;
  background: #333;
  color: #FFFFFF;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  min-height: 100vh;
}

._inner {
  width: 100%;
  max-width: 1130px;
  margin: 0 auto;
  min-height: 50px;
}

.img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.main {
  margin-top: 145px;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background: green;
}

.link {
  color: #fff;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
}
.header__top-line {
  background: #C8A35F;
}
.header__aside, .header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 14px;
  padding: 0px 10px;
  height: 45px;
}
.header__bottom-line {
  background: #333;
}
.header__content {
  min-height: 100px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
}
@media (max-width: 830px) {
  .header__info {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
.header__logo {
  padding: 0px 11px 0px 0px;
}
@media (min-width: 521px) {
  .header__logo-name {
    padding: 0px 30px 0px 0px;
  }
}
.header__adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 521px) {
  .header__adress {
    height: 46px;
    padding-left: 33px;
    border-left: 1px solid #F2F2F2;
  }
}
.header__icon {
  padding: 0px 13.5px 0px 0px;
}
.header__excerpt {
  color: #fff;
}
@media (max-width: 830px) {
  .header__menu {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.aside__language {
  cursor: pointer;
}
.aside__language > span {
  text-transform: uppercase;
  opacity: 0.5;
  padding: 0px 10px 0px 0px;
}
.aside__language > span:last-child {
  padding: 0px 0px 0px 0px;
}
.aside__span._active {
  opacity: 1;
}
.aside__link {
  color: #FFFFFF;
}
.aside__link:hover, .aside__link:active, .aside__link:focus {
  color: #ffffffd2;
}
@media (max-width: 520px) {
  .aside__mail {
    display: none;
  }
}

@media (max-width: 830px) {
  .menu__body {
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.9s ease 0s;
    -o-transition: all 0.9s ease 0s;
    transition: all 0.9s ease 0s;
    top: -200px;
    left: -200px;
    position: absolute;
    background: #333;
    width: 100%;
    width: 320px;
    height: 100vh;
  }
  .menu__body._active {
    top: 50px;
    left: 0;
    opacity: 1;
    visibility: visible;
  }
}
@media (max-width: 520px) {
  .menu__body {
    width: 100%;
    height: 100vh;
  }
}
@media (max-width: 830px) {
  .menu__list {
    padding-top: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 500px;
    font-size: 20px;
    text-align: center;
  }
  .menu__list li {
    margin: 0 auto;
    padding: 0px 0px 40px 0px;
    width: 170px;
  }
  .menu__list li:last-child {
    padding: 0px 0px 0px 0px;
  }
}
@media (min-width: 831px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__list li {
    padding: 0px 30px 0px 25px;
  }
  .menu__list li:nth-child(4) {
    padding: 0px 0px 0px 0px;
  }
  .menu__list li:last-child {
    padding: 0px 0px 0px 0px;
    display: none;
  }
}
.menu__link {
  color: #FFFFFF;
}

@media (max-width: 830px) {
  .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 25px;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span {
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    top: calc(50% - 1px);
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #fff;
  }
  .icon-menu span:first-child {
    top: 0px;
  }
  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }
  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 2px);
  }
}

.menu__adress {
  display: none;
}
@media (max-width: 520px) {
  .menu__adress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.logo-company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-home {
  background: url("../../img/jpg/bgSectionHomeMin.jpg") center/cover no-repeat;
}
.section-home_container {
  padding: 10px;
  height: 620px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 767.98px) {
  .section-home_container {
    height: 400px;
  }
}
.section-home__description {
  border: 1px solid #C8A35F;
  padding: 45px 72px;
}
@media (max-width: 991.98px) {
  .section-home__description {
    padding: 30px 48px;
  }
}
@media (max-width: 767.98px) {
  .section-home__description {
    padding: 15px 24px;
  }
}
@media (max-width: 479.98px) {
  .section-home__description {
    padding: 10px;
  }
}
.section-home__title {
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 0px 0px 45px 0px;
}
@media (max-width: 991.98px) {
  .section-home__title {
    font-size: 40px;
    line-height: 40px;
    padding: 0px 0px 30px 0px;
  }
}
@media (max-width: 767.98px) {
  .section-home__title {
    font-size: 30px;
    line-height: 30px;
    padding: 0px 0px 15px 0px;
  }
}
@media (max-width: 479.98px) {
  .section-home__title {
    font-size: 18px;
    line-height: 20px;
    padding: 0px 0px 15px 0px;
  }
}
.section-home__text {
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  padding: 0px 90px;
}
@media (max-width: 991.98px) {
  .section-home__text {
    font-size: 16px;
    line-height: 22px;
    padding: 0px 30px;
  }
}
@media (max-width: 767.98px) {
  .section-home__text {
    padding: 0px 0px;
  }
}
@media (max-width: 479.98px) {
  .section-home__text {
    font-size: 14px;
    line-height: 20px;
  }
}

.section-home__icon {
  width: 30px;
  height: 30px;
  padding-top: 30px;
  cursor: pointer;
}
.section-area {
  width: 100%;
  background: #393F47;
  height: 561px;
}
@media (max-width: 1050px) {
  .section-area {
    height: 661px;
  }
}
.section-area__container {
  padding: 0px 10px;
}
.section-area__content {
  position: relative;
}
.section-area__description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1050px) {
  .section-area__description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.section-area__desc {
  width: 445px;
  padding: 0px 15px;
}
@media (max-width: 1050px) {
  .section-area__desc {
    margin: 0px 0px 50px 0px;
  }
}
@media (max-width: 440px) {
  .section-area__desc {
    width: 290px;
  }
}
.section-area__text {
  font-size: calc(14px + 4 * (100vw / 1920));
  line-height: 1.5;
  margin: 30px 0px 50px 0px;
}
.section-area__button-link {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-decoration: none;
  outline: none;
  color: #FFFFFF;
  padding: 18px 47px 18px 47px;
  width: 160px;
  background: #C8A35F;
}
@media (min-width: 991.98px) {
  .section-area__button-link:hover {
    background-color: #D1A954;
  }
}
.section-area__slide-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 660px) {
  .section-area__slide-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 440px) {
  .section-area__slide-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 660px) {
  .section-area__slide_image-container {
    margin-bottom: 20px;
  }
}
.section-area__slide-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 660px) {
  .section-area__slide-control {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media (max-width: 440px) {
  .section-area__slide-control {
    width: 290px;
  }
}

.title {
  font-weight: bold;
  font-size: calc(20px + 20 * (100vw / 1920));
  line-height: 1.2;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.title::before {
  content: "";
  display: block;
  width: 90px;
  height: 6px;
  background: #C8A35F;
  margin-bottom: 40px;
}

.swiper-container {
  width: 445px;
  height: 226px;
}
@media (max-width: 440px) {
  .swiper-container {
    width: 290px;
    height: 200px;
  }
}

.swiper-slide {
  position: relative;
}

.control__next {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 660px) {
  .control__next {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
.control__next-arrow {
  padding-left: 30px;
}
@media (max-width: 440px) {
  .control__next-arrow {
    padding-left: 10px;
  }
}
.control__prev {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 660px) {
  .control__prev {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
.control__prev-arrow {
  padding-right: 30px;
}
@media (max-width: 440px) {
  .control__prev-arrow {
    padding-right: 10px;
  }
}

.section-area__shadow {
  position: relative;
  width: 33%;
  height: 561px;
  top: 0;
  left: calc(31.5%);
  background: #333;
  z-index: 1;
}
@media (max-width: 1050px) {
  .section-area__shadow {
    height: 661px;
  }
}

.span_gold {
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #C8A35F;
}

.section-services {
  padding: 120px 10px;
  background: #333;
}
.section-services__column {
  margin: 0px auto;
}
@media (max-width: 1150px) {
  .section-services__column {
    width: 828px;
  }
}
@media (max-width: 865px) {
  .section-services__column {
    width: 552px;
  }
}
@media (max-width: 585px) {
  .section-services__column {
    width: 300px;
  }
}
.section-services__title {
  margin-bottom: 60px;
}
.type-services__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.type-services__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 276px;
          flex: 0 0 276px;
  height: 180px;
  background: #393F47;
  border: 1px solid #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.type-services__icon {
  width: 70px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin-bottom: 23px;
}
.type-services__icon svg {
  fill: #fff;
}
.type-services__text {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #fff;
}

@media (min-width: 992px) {
  .type-services__item:hover {
    background: #C8A35F;
  }
  .type-services__item:hover .type-services__icon {
    background: #fff;
  }
  .type-services__item:hover .type-services__icon svg {
    fill: #2F343A;
  }
}
@media (max-width: 991.8px) {
  .type-services__item:focus, .type-services__item:active {
    background: #C8A35F;
  }
  .type-services__item:focus .type-services__icon, .type-services__item:active .type-services__icon {
    background: #fff;
  }
  .type-services__item:focus .type-services__icon svg, .type-services__item:active .type-services__icon svg {
    fill: #2F343A;
  }
}
.type-services__item_hident {
  display: none;
}
@media (min-width: 586px) {
  .type-services__item_hident {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer {
  background: #C8A35F;
  padding: 15px 0px;
}
.footer__container {
  padding: 0px 10px;
}
.footer__row {
  width: 100%;
  min-height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1050px) {
  .footer__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.footer__first-line {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1050px) {
  .footer__first-line {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
@media (max-width: 525px) {
  .footer__first-line {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 300px;
            flex: 0 1 300px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0px auto 30px;
  }
}
.footer__second-line {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1050px) {
  .footer__second-line {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}
@media (max-width: 525px) {
  .footer__second-line {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 300px;
            flex: 0 1 300px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0px auto;
  }
}
.footer__image {
  margin: 0px 30px 0px 0px;
}
@media (max-width: 525px) {
  .footer__image {
    margin: 0px 0px 30px 0px;
  }
}
.footer__logo {
  padding: 0px 11px 0px 0px;
}
.footer__link {
  display: block;
}
.footer__phone {
  margin: 0px 0px 0px 15px;
}
@media (max-width: 1050px) {
  .footer__phone {
    margin: 0px 0px 0px 0px;
  }
}
@media (max-width: 525px) {
  .footer__phone {
    margin: 0px 0px 30px 0px;
  }
}
.link__street {
  color: #F2F2F2;
  opacity: 0.8;
}
.link__mail {
  color: #2F343A;
}
.link__phone {
  color: #F2F2F2;
}
.link__source {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2F343A;
}