//*map =======================================================================================================================================
.map {
	// .map__container

	&__container {
		width: 100%;
		min-height: 450px;
		position: relative;
	}
}

.img-card {}