//<МИКСИНЫ>===============================================================================================
@import "_mixins.scss";
//<МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<ПЕРЕМЕННЫЕ>============================================================================================
$fontfamily: "roboto";
$minwidth: 320px;
$maxwidth: 1920;
$maxwidthcontainer: 1110; //ограничивающий контейнер.
$mw: 970;
$md1: $maxwidthcontainer+12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================

//<ОБНУЛЕНИЕ>============================================================================
@import "_null.scss";
//<ОБНУЛЕНИЕ>============================================================================

//<Оболочка, основная сетка, общие параметры>==============================================================================================
body {
	font-family: $fontfamily;
	font-size: 18px;
	height: 100%;
	background: #333;
	font-style: normal;
	color: #FFFFFF;
}

.wrapper {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	min-height: 100vh;
}

._inner {
	width: 100%;
	max-width: 1110px;
	margin: 0 auto;
	min-height: 50px;
}

.img {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	object-fit: cover;
}


.main {
	width: 100%;
	flex: 1 1 auto;
	background: green;
}
//<Оболочка, основная сетка, общие параметры>==============================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>=========================================================
@import "_header.scss";
@import "_footer.scss";
//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>=========================================================